.brutal-shadow-lg {
  box-shadow: 0 10px 0 #0a0a0a;
  transition:
    box-shadow 100ms ease,
    transform 100ms ease;

  &:hover,
  &:focus-visible {
    box-shadow: 0 12px 0 #0a0a0a;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0px 0 #0a0a0a;
    transform: translateY(10px);
  }
}

.brutal-shadow {
  --offset: 5px;
  box-shadow: 0 var(--offset) 0 #0a0a0a;
  transition:
    box-shadow 100ms ease,
    transform 100ms ease;

  &:hover,
  &:focus-visible {
    box-shadow: 0 calc(var(--offset) + 2px) 0 #0a0a0a;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0px 0 #0a0a0a;
    transform: translateY(var(--offset));
  }
}
